# Ignore sensitive environment variables
.env

# Ignore cache, logs, and temporary files
__pycache__/
tinybert_sms_spam/
fastapi.log

# Ignore large dataset files
*.csv
*.zip

# Ignore images
*.png
*.jpg
*.jpeg

# Ignore Jupyter Notebook checkpoints and jupyter files
.ipynb_checkpoints/
*.ipynb

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore system files (Windows & Mac)
.DS_Store
Thumbs.db

# Ignore Git-related files
.git/
